/* 1. createProperty  -- Property */ 

.priceProperty{
    width: 100px!important;
}

.mensajeError{
    color: red;
    font-weight: 800;
}


.botonNext{
    background-color: RGB(5,119,148)!important;
    border: 1px solid RGB(5,119,148)!important;
}

.propertyPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.propertyDescription{
    width: 60%;
}

.determineThePrice{
    margin-bottom: 40px;
}


/* -------------------------------------------- */

/* 2. createProperty  --  Address */

.inputLocation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.barraInput{
    width: 50%;
    margin-bottom: 40px;
}



/* -------------------------------------------- */

/* 3. createProperty  --  PropertyInfo */


.characteristicProperty2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.characteristicProperty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.characteristicProperty input{
    margin-left: 50px;
}

.characteristicProperty select{
    margin-left: 50px;
}

.botonCentrado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}



/* -------------------------------------------- */

/* 4. createProperty  --  CreatePhoto */


/* .image-upload input{
    color: RGB(5,119,148);
} */


/* -------------------------------------------- */

/* 5. createProperty  --  Publish */


.tarjetaPublicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 450px;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 320px;
}


.textoTarjeta{
    margin: 20px;
}




/* -------------------------------------------- */

/* 6. createProperty  --  Thanks */


.espacioSuperior{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gracias{
    flex-direction: column;
    gap: 30px;
    margin-bottom: 200px;
}






/* -------------------RESPONSIVE------------------------- */





@media (min-width:768px){

    /* 5. createProperty  --  Publish */

    .tarjetaPublicacion{
        margin-left: 120px!important;
    }




}





@media (max-width:390px){

    /* 5. createProperty  --  Publish */

    .tarjetaPublicacion{
        margin-left: 0!important;
        width: 350px;
    }

}