.botonCorreo{
    height: 50px !important;
    width: 150px !important;
    color: white;
    border-radius: 10px!important;
    border: 1px solid RGB(5,119,148)!important;
    background-color: RGB(5,119,148)!important; 
    margin: 10px;
}

.botonesEditar{
    display: flex;
    justify-content: flex-end;
}