

.backgroundGuest {
  background: radial-gradient(162.65% 276.24% at 52.4% 101.03%, rgba(255, 189, 167, 0.2) 0%, rgba(144, 206, 196, 0.159892) 14.32%, rgba(224, 224, 224, 0.2) 29.69%, rgba(255, 189, 167, 0.2) 46.88%, rgba(70, 232, 215, 0.2) 86.46%, rgba(255, 168, 167, 0.1) 99.99%, rgba(255, 255, 255, 0) 100%), radial-gradient(95.9% 372.9% at 50.18% 181.16%, rgba(70, 232, 215, 0.2) 0%, rgba(70, 232, 215, 0.2) 14.32%, rgba(224, 224, 224, 0.2) 29.69%, rgba(62, 212, 197, 0.2) 46.88%, rgba(70, 232, 215, 0.2) 74.14%, rgba(255, 168, 167, 0.1) 99.99%, rgba(62, 212, 197, 0.2) 100%);
  mix-blend-mode: darken;

  position: absolute;
  width: 100vw!important;
  height: 272px;
  max-width: 100vw!important;
  
  
}


.editprofileGuest {

  box-sizing: border-box;
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  width: 157px;
  height: 36px;
  border: 1px solid #057794;
  border-radius: 8px;
  flex: none;
  margin-top: 216px ;
}


.BotonesPerfilSwitch{
  width: 100vw!important;
    max-width: 100vw!important;
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
    /* margin-bottom: 80px; */
}
.BotonSwitch{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  width: 175px;
  height: 36px;
  background-color: #057794;
  color: white;
  border: 1px solid #057794;
  border-radius: 8px;
  margin-top: 216px ;

  
}

.GuestPage{
  width: 100vw!important;
    max-width: 100vw!important;
}

.profilePhotoGuest {
  border-radius: 50%;
  margin-top: 15vh;
  margin-left: 4vw;
  width: 28vh;
  height: 26vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageStar{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.fotoGuest {
  width: 15vw;
  border: 9px solid #FFFFFF;
  border-radius: 50%;
}

.numeros {
  width: 45px;
  height: 30px;
  border: 1px solid #057794;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;

}


.infoGuest1 {
  margin-top: 220px !important;
  flex-direction: column;

}

.numStar {
  gap: 2px;
  margin: 0px;
  padding: 8px;
}

.verified {
  border: solid 1px rgb(185, 184, 184);
  border-radius: 2%;
  padding: 2%;
  height: 67vh;
}

.verify {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  width: 12vw;
  height: 2vw;
  background-color: transparent;
  color: #057794;
  border: 1px solid #057794;
  border-radius: 8px;
}
.propertyimg{
  width: 12vw;
}
.propad{
  width:auto;
}
.PropFotoInfo{
display: flex;
}
.check {
  display: flex;
  justify-content: space-between;

}
.winwon{
  width: 3vw;
  height: 1vw;

}
.bidHouseImg{
  width: auto!important;
}
.bidInfoGuest{
  display: flex;
  flex-direction: column;
  width: auto;
}
.BotonMoreGuest{
  height: 4vh;
  margin-top: 25px;
  background-color: #057794;
  border-color: transparent;
  color: white;
  margin-left: 29px;
  border-radius: 10px;
}

@media (max-width: 390px) {
  .about-text {
    height: auto;
  }
  .BotonesPerfilSwitch {
    justify-content: flex-start;
    margin-top: 0px;
    margin-left: 0px;
  }
  .BotonSwitch {
    margin-top: 4px;
    width: 46vw;
    height: 35px;
  }
  .editprofileGuest {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 16px;
    width: 157px;
    height: 36px;
    background-color: transparent;
    color: #057794;
    border: 1px solid #057794;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 0px;
    margin-top: 4px;
  }
  .propertyimg{
    width: 50vw;
  }
  

  .verify {
    width: 60%;
    height: auto;
    padding: 8px 16px;
    font-size: 14px;
    margin-left: 50px;
    margin-bottom: 15px;
  }

  .profilePhotoGuest {
    width: 34vw;
    height: 17vh;
    margin-top: 20vh;


  }

  .propad {
    display: flex;
    justify-content: space-evenly;
  }

  .description {
    line-height: 1;
  }

  .infoGuest1 {
    flex-direction: column;
  }
  .PropFotoInfo{
    display: flex;
    flex-direction: column;
    }

    .propertyTitle{
      width: 201px;
    }
  

}


@media (max-width: 768px) and (min-width: 391px) {

  .BotonesPerfilSwitch{
    justify-content: center;
    margin-left: 367px;
}
.avatarmin{
  margin-top: 0;
}
  
.editprofileGuest{
  width: 150px !important;
  height: 37px !important;
}
.cruzcheck{
  margin-top: 0px!important;
}

  .imageStar{
    margin-top: -3px!important;
  }

  .about-text {
    height: auto;
  }

  .infoGuest1 {
    font-size: 14px;
    flex-direction: column;
  }
  .propad{
    width:100vw
  }

  .verify {
    width: 250px;
    height: auto;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 20px;
  }

  .profilePhotoGuest {
    width: 20vw;
    height: 15vh;


  }

  .verified {
    border: solid 1px rgb(185, 184, 184);
    border-radius: 2%;
    height: 56vh;
    width: 458px;

  }
  .GuestReview{
    margin-top: 0px;

  }
  .propertyimg{
    margin-top: 0px;
    width: 25vw;
  }

  .propertyTitle{
    width: 201px;
  }
  .winwon{
    width: 8vw;
    height: 3vw;
    margin-right: -245px;
  }
  .BotonMoreGuest{
    width: 100px;
  }

  .rws {
    width: 448px;
  }

  .description {
    line-height: 1;
  }

}